{% extends "base.html" %}

{% block content %}
{% set blog = get_section(path="blog/_index.md") %}
{% set projects = get_section(path="projects/_index.md") %}

<h1>வணக்கம்! 🙏</h1>

<p>
  I am a Software Engineer from Coimbatore, India focusing on improving Cloud
  Infrastructure and Developer Experience. I currently work at
  <a href="https://testlio.com/">Testlio</a> as a DevOps Engineer.
</p>
<p>
  I have previously worked at <a href="https://ggwp.com/">GGWP</a> and
  <a href="https://presidio.com">Presidio</a>. I also have a Masters in Software
  Systems from <a href="https://cit.edu.in/">Coimbatore Institute of Technology</a>.
</p>

<h2>Latest posts</h2>
<ul class="post-list">
  {%- for page in blog.pages %}{% if loop.index > 5 %}{% break %}{% endif %}{{<post.card page={page} />}}{% endfor %}
</ul>
<p><a href="/blog/">See all posts</a></p>

<h2>Recent projects</h2>
<ul class="post-list">
  {%- for page in projects.pages %}{% if loop.index > 3 %}{% break %}{% endif %}{{<post.card page={page} />}}{% endfor %}
</ul>
<p><a href="/projects/">See all projects</a></p>

<h2>Let's connect</h2>
<p>
  If you want to get in touch with me about something or just to say hi, reach
  out on LinkedIn or send me an email at
  <a href="mailto:{{ config.extra.email }}">{{ config.extra.email }}</a>.
</p>
{% endblock content %}
